<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modip.myapplication">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/launcherlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcherlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.modip.myapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.modip.myapplication.Main2Activity" />
        <activity android:name="com.example.modip.myapplication.Homepage" />
        <activity android:name="com.example.modip.myapplication.menudrawer" />
        <activity android:name="com.example.modip.myapplication.Menu" />
        <activity android:name="com.example.modip.myapplication.editprofile" />
        <activity android:name="com.example.modip.myapplication.lodges" />
        <activity android:name="com.example.modip.myapplication.suggestfeast" />
        <activity android:name="com.example.modip.myapplication.homedelivery" />
        <activity android:name="com.example.modip.myapplication.placeorder" />
        <activity android:name="com.example.modip.myapplication.payment" />
        <activity android:name="com.example.modip.myapplication.myorders" />
        <activity android:name="com.example.modip.myapplication.updatemenu" />
        <activity android:name="com.example.modip.myapplication.lodgeownermenudrawer" />
        <activity android:name="com.example.modip.myapplication.signup1" />
        <activity android:name="com.example.modip.myapplication.lodgeownerregistration" />
        <activity android:name="com.example.modip.myapplication.changepassword" />
        <activity android:name="com.example.modip.myapplication.viewfeast" />
        <activity android:name="com.example.modip.myapplication.addfeast" />
        <activity android:name="com.example.modip.myapplication.deletefeast" />
        <activity android:name="com.example.modip.myapplication.selectedlodgefeast" />
        <activity android:name="com.example.modip.myapplication.feastsuggestion" />
        <activity android:name="com.example.modip.myapplication.lodgeownermenu" />
        <activity android:name="com.example.modip.myapplication.seeorder" />
        <activity android:name="com.example.modip.myapplication.orderdetail" />
        <activity android:name="com.example.modip.myapplication.selectorderlist"></activity>
    </application>

</manifest>